:root {
  /* DESIGN */
  --brown: #703b16;
  --paper: #fcf6e8;
  --olive: #9ca537;
  --olive-dark: #656b15;
  --highlight: #30330a;
  --text: #30330a;
  /* 1rem == 16px by default */
}

body {
  margin: 0;
  padding: 0;
  background: url('assets/fall_background_tinted.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  font-family: "Open Sans", sans-serif;
  color: var(--text);
}

/* LAYOUT */

.App {
  padding: 1rem;
  height: 100vh;
  max-width: 1440px;
}

.row {
  height: 100%;
}

.col-layout {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.favourites-content-body {
  height: 14.3rem;
}

.section-fill-height,
.section-fill-height > .section-body {
  flex-grow: 1;
}

.search-section-body {
  max-height: fit-content;
}

.section-title {
  background: var(--olive);
  height: 3.5rem;
}

.section-title-text {
  padding: 1.25rem 1.25rem;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 100%;
  color: white;
}

.section-body {
  width: 100%;
  background: var(--paper);
  padding: 1.25rem;
}

.results-container {
  padding: 0 0 0 3%;
  overflow-y: auto;
  height: 100%;
}

.results-message {
  padding: 0 0 3% 3%;
  overflow-y: auto;
  height: 100%;
  text-align: center;
}

/* TITLE BOX */

.title-background {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 8rem;
  width: 100%;
  background: var(--brown);
}

.title-text {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.9em;
  color: white;
}

.title-text-upper {
  padding-right: 0.625em;
}

.title-text-lower {
  padding-left: 0.625em;
}

/* USER BOX */

.user-box-error {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.alert {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.user-content-buttons {
  margin-top: 1.75rem;
}

.user-content-buttons > .fm-button {
  margin-right: 1rem;
}

/* ACCOUNT BOX */

.welcome-text {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* RECIPE CARD STYLING */

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 8rem;
}

.recipe-card {
  position: relative;
  width: 30%;
  float: left;
  margin: 0 3% 2% 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.recipe-card-top {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: 1;
}

.recipe-card-top-text {
  font-family: Raleway, sans-serif;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 100%;
}

.card-recipe-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.2rem;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--text);
  margin-top: 0.3rem;
  margin-left: 0.8rem;
}
.card-recipe-author {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--text);
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
}
.card-recipe-time {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0.4rem;
  right: 0.5rem;
}

/* MODAL */

.close{
  position: absolute;
  left: 95%;
  outline: none;
}

.modal-img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
}

.modal-chart {
  width: 100%;
  height: 12rem;
  padding: 5px;
  background: white;
}

.modal-emoji {
  width: 25px;
  height: 25px;
}

.modal-dialog {
  outline: none;
  max-width: 60%;
}

.modal-content {
  height: 70vh;
  background: var(--paper);
}

.recipe-dot {
  height: 10px;
  width: 10px;
  background-color: var(--paper);
  border-radius: 50%;
  position: absolute;
  display: inline-block;
}

.dot1{left: 25px; top: 15px;}
.dot2{left: 25px; top: 10.8rem;}
.dot3{right: 15px; top: 10px;}
.dot4{right: 15px; top: 10.8rem;}

.modal-recipe {
  overflow: hidden;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}

.fm-modal-header {
  height: 1.7rem;
}

.modal-recipe-left-col {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.modal-recipe-right-col {
  margin: auto;
  overflow: auto;
  margin-top: 0;
  height: 100%;
  padding-bottom: 1rem;
}

.modal-recipe-image {
  margin-bottom: 1rem;
}

.modal-recipe-header{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.2rem;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 100%;
  color: var(--text);
  margin-left: 0.8rem;
  padding-bottom: 0.3rem;
}

.modal-recipe-subheader{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.2rem;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 100%;
  color: var(--text);
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  padding-bottom: 0.3rem;
}

.modal-recipe-details {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 0.8rem;
  color: var(--text);
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
}

.modal-recipe-url {
  margin-left: 0.8rem;
}

.chart-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.chart-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar-heart-eyes {
  background-color: #DD2E44;
  width: 25px;
}

.chart-bar-drooling {
  background-color: #88C9F9;
  width: 25px;
}

.chart-bar-thumbs-up {
  background-color: #FFDB5E;
  width: 25px;
}

.chart-bar-thumbs-down {
  background-color: #EF9948;
  width: 25px;
}

.chart-bar-throw-up {
  background-color: #77AF57;
  width: 25px;
}

.chart-bar-skull-crossbones {
  background-color: #AAB8C2;
  width: 25px;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cuisine-0 { background: rgba(85, 85, 171, 0.8); }
.cuisine-1 { background: rgba(171,  85, 85, 0.8); }
.cuisine-2 { background: rgba(171, 149, 85, 0.8); }
.cuisine-3 { background: rgba(101, 107, 21, 0.8)}

/* INPUT ELEMENTS */

.fm-text-input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--text);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.fm-text-input:focus {
  border-color: var(--highlight);
  outline: 1px solid var(--highlight);
}

.fm-text-input::placeholder {
  color: var(--olive);
  /* font-style: italic; */
}

.fm-button {
  display: inline-block;
  height: 2rem;
  min-width: 8rem;
  background-color: var(--olive-dark);
  border: none;
  color: white;
}

.fm-button:focus {
  border: 1px solid var(--highlight);
  outline: 1px solid var(--highlight);
}

.fm-centered-button {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
