.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-background {
  background: url('assets/fall_background_tinted.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.left-col {
  margin-left: 2rem;
  margin-top: 2rem;
  bottom: 10px;
}

.right-col {
  margin-right: 2rem;
}

.title-background {
  padding-top: 0.1rem;
  text-align: center;
  height: 7rem;
  width: 100%;
  background: #703B16;
}

.title-text {
  margin-left: -2.2rem;
  margin-top: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.2rem;
  color: white
}

.title-text-lower {
  margin-left: 1rem;
}

.title-text-lower {
  margin-right: 1rem;
  text-indent: 50px;
}

.search-content-box { margin-top: 1rem; }
.search-content-body { height: 27rem; }
.user-content-box { margin-top: 2rem; }
.user-content-body { height: 6rem; }
.results-content-box { margin-top: 1rem; }
.results-content-body { height: 25rem; overflow: hidden; }

.section-title {
  text-align: left;
  background: #9CA537;
  height: 3rem;
}

.section-title-text {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 100%;
  color: white;
}
                
.section-body {
  width: 100%;
  background: #FCF6E8;
}

.results-container {
  padding: 3% 0 0 3%;
  overflow-y: auto;
  height: 100%;
}

/* RECIPE CARD STYLING */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 8rem;
}

.recipe-card {
  position: relative;
  width: 30%;
  float: left;
  margin: 0 3% 2% 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.recipe-card-top {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: 1;
  background: rgba(85, 85, 171, 0.8);
}

.recipe-card-top-text {
  font-family: Raleway;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 100%;
}

.recipe-card-body {
  text-align: left;
}

.card-recipe-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.2rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 100%;
  color: black;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
}
.card-recipe-author {
  font-family: Raleway;
  font-style: normal;
  font-size: 0.9rem;
  color: black;
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
}
.card-recipe-time {
  font-family: Raleway;
  font-style: normal;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0.4rem;
  right: 0.5rem
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cuisine-Cake, .cuisine-Drink {
  background: rgba(171, 85, 85, 0.8);
}

.cuisine-Pasty, .cuisine-Spanish {
  background: rgba(171, 149, 85, 0.8);
}


/* CHIP INPUT */
.chipInputBase {
  background-color: white;
}

.chipList {
  display: inline-block;
}

.addChipInput {
  display: inline-block;
  background-color: white;
  border: none;
}
