/* BRAND COLORS */
:root {
  --brown: #703b16;
  --paper: #fcf6e8;
  --olive: #9ca537;
  --olive-dark: #656b15;
  --highlight: #61dafb;
  --text-on-white: #30330a;
}

html {
  /* 1rem == 16px by default */
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-background {
  background: url('assets/fall_background_tinted.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.App-link {
  color: var(--highlight);
}

.left-col {
  margin-left: 2rem;
  margin-top: 2rem;
  bottom: 10px;
}

.right-col-layout {height: 100%}

.right-col {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.title-background {
  padding-top: 0.1rem;
  text-align: center;
  height: 7rem;
  width: 100%;
  background: var(--brown);
}

.title-text {
  margin-left: -2.2rem;
  margin-top: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.2rem;
  color: white
}

.title-text-lower {
  margin-left: 1rem;
}

.title-text-lower {
  margin-right: 1rem;
  text-indent: 50px;
}

.account-content-box { margin-top: 1rem; }
.favorites-content-box { margin-top: 2rem; }
.favorites-content-body { height: 13.5rem; }
.search-content-box { margin-top: 1rem; }
.search-content-body { }
.user-content-box { margin-top: 2rem; }
.user-content-body {
  padding-bottom: 1rem;
}
.results-content-box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem; 
  flex-grow: 1;
}
.results-content-body {
  flex-grow: 1;
}

.section-title {
  text-align: left;
  background: var(--olive);
  height: 3rem;
}

.section-title-text {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 100%;
  color: white;
}
                
.section-body {
  width: 100%;
  background: var(--paper);
}

.results-container {
  padding: 3% 0 0 3%;
  overflow-y: auto;
  height: 100%;
}

/* RECIPE CARD STYLING */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 8rem;
}

.recipe-card {
  position: relative;
  width: 30%;
  float: left;
  margin: 0 3% 2% 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.recipe-card-top {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: 1;
  background: rgba(85, 85, 171, 0.8);
}

.recipe-card-top-text {
  font-family: Raleway;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 100%;
}

.recipe-card-body {
  text-align: left;
}

.card-recipe-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.2rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 100%;
  color: black;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
}
.card-recipe-author {
  font-family: Raleway;
  font-style: normal;
  font-size: 0.9rem;
  color: black;
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
}
.card-recipe-time {
  font-family: Raleway;
  font-style: normal;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0.4rem;
  right: 0.5rem
}

.close{
  position: absolute;
  left: 95%;
  outline: none;
}

.modal-img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
}

.modal-content {
  height: calc(100vh - 3.50rem);
}

.modal-recipe {
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}

.modal-recipe-left-col {
  margin: 1.75rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-recipe-right-col {
  margin: 1.75rem auto;
}

.modal-recipe-header{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.2rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 100%;
  color: black;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  padding-bottom: 0.3rem;
}

.modal-recipe-subheader{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.2rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 100%;
  color: black;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  padding-bottom: 0.3rem;
}

.modal-recipe-details {
  font-family: Raleway;
  font-style: normal;
  font-size: 0.8rem;
  color: black;
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
}

.modal-recipe-url {
  margin-left: 0.8rem;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cuisine-Cake, .cuisine-Drink {
  background: rgba(171,  85, 85, 0.8);
}

.cuisine-Pasty, .cuisine-Spanish {
  background: rgba(171, 149, 85, 0.8);
}

.username-column, .password-column {
  text-align: left;
  margin: 1rem 0 0 1rem;
}

.user-box-error {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.alert {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.user-content-buttons {
  margin-top: 1rem;
}

input[type="text"] {
  outline: none;
  padding: 4px;
  border: 1px solid black;
}

input[type="text"]:focus {
  border: 1px solid var(--highlight);
}

input[type="text"]::placeholder {
  color: var(--olive-dark);
  /* font-style: italic; */
}

.fm-text-input {
  width: 100%;
  font-style: italic;
}

/* CHIP INPUT */
.fm-chip-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  padding: 2px;
  border: 1px solid black;
}

.fm-chip-input:focus-within {
  border: 1px solid var(--highlight);
}

.fm-chip-input-add-chip {
  display: inline-flex;
  flex-grow: 1;
  border: none !important;
  background: none;
  border: none;
  background: none;
  outline: none;
}

.fm-chip {
  display: inline-flex;
  margin: 0.25rem;
  padding: 0;
  height: 1.5rem;
  border-radius: 0.75rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  background-color: var(--olive-dark);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fm-chip-label {
  color: white;
  margin: 0 0.625rem;
  font-size: 1rem;
}

.fm-chip-delete-icon {
  font-size: 1rem !important;
  color: white;
  margin-left: -0.3125rem;
  margin-right: 0.3125rem;
  padding: 0 0.625rem;
  font-size: 1rem;
}

.welcome-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.logout-button {
  padding-bottom: 0.8rem;
}