:root {
  /* COLOURS */
  --brown: #703b16;
  --paper: #fcf6e8;
  --olive: #9ca537;
  --olive-dark: #656b15;
  --highlight: #30330a;
  --text: #30330a;
  /* 1rem == 16px by default */

  /* FONTS */
  --font-body: "Open Sans", sans-serif;
  --font-heading: Raleway, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url('assets/fall_background_tinted.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  font-family: var(--font-body);
  color: var(--text);
}

/* GENERIC LAYOUT */

.full-height {
  height: 100%;
}

/* APP LAYOUT */

.App {
  padding: 1rem;
  height: 100vh;
  max-width: 1440px;
}

.col-layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.favourites-content-body {
  height: 14.3rem;
}

.App-background {
  overflow: hidden
}

.scrolling-window {
  overflow: auto;
}

.reacts-order-control, .reacts-order-control:focus {
  font-family: var(--font-heading);
  margin-top: -0.45rem;
  height: 2rem;
  float: right;
  width: 3.1rem;
  font-size: 0.9rem;
  padding: 0.3rem;
  background-color: var(--olive-dark);
  color: white;
  border: 0;
  box-shadow: none;
  border-radius: 3px;
}

.section-fill-height,
.section-fill-height > .section-body {
  flex-grow: 1;
}

.search-section-body {
  max-height: fit-content;
}

.section-title {
  background: var(--olive);
  height: 3.5rem;
}

.section-title-text {
  padding: 1.25rem 1.25rem;
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 100%;
  color: white;
}

.section-body {
  width: 100%;
  background: var(--paper);
  padding: 1.25rem;
}

.results-container {
  padding: 0 0 0 3%;
  overflow-y: auto;
  height: 100%;
}

.results-order-control, .results-order-control:focus {
  font-family: var(--font-heading);
  margin-top: -0.45rem;
  height: 2rem;
  float: right;
  width: 8rem;
  font-size: 0.9rem;
  padding: 0.2rem;
  background-color: var(--olive-dark);
  color: white;
  border: 0;
  box-shadow: none;
  border-radius: 3px 0px 0px 3px;
}

.results-order-control-asc {
  border-radius: 0 3px 3px 0;
  border-bottom-left-radius: 0rem;
  margin-top: -0.45rem;
  height: 2rem;
  float: right;
  width: 1.7rem;
  border: none;
  box-shadow: none;
  background: #7B8223 !important;
}

.asc-button-icon {
  margin-left: -0.55rem;
  margin-top: -0.2rem;
  color: white;
}

.results-order-control-tag {
  font-family: var(--font-heading);
  float: right;
  padding-right: 0.5rem;
  font-size: 0.9rem;
  font-style: normal;
}

.results-message {
  padding: 0 0 3% 3%;
  overflow-y: auto;
  text-align: center;
}

/* TITLE BOX */

.title-background {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 8rem;
  width: 100%;
  background: var(--brown);
}

.title-text {
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.9em;
  color: white;
}

.title-text-upper {
  padding-right: 0.625em;
}

.title-text-lower {
  padding-left: 0.625em;
}

/* USER BOX */

.user-box-error {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.alert {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

.user-content-buttons {
  margin-top: 1.75rem;
}

.user-content-buttons > .fm-button {
  margin-right: 1rem;
}

/* ACCOUNT BOX */

.welcome-text {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cuisine-0 { background: rgba(85, 85, 171, 0.8); }
.cuisine-1 { background: rgba(171,  85, 85, 0.8); }
.cuisine-2 { background: rgba(171, 149, 85, 0.8); }
.cuisine-3 { background: rgba(101, 107, 21, 0.8)}

/* INPUT ELEMENTS */

.fm-text-input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--text);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.fm-text-input:focus {
  border-color: var(--highlight);
  outline: 1px solid var(--highlight);
}

.fm-text-input::placeholder {
  color: var(--olive);
  /* font-style: italic; */
}

.fm-button {
  display: inline-block;
  height: 2rem;
  min-width: 8rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  background-color: var(--olive-dark);
  border: none;
  color: white;
}

a.fm-button:hover {
  color: white;
  text-decoration: none;
}

.fm-button:focus {
  border: none;
  outline: 2px solid var(--highlight);
}

.fm-centered-button {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
