.chart-container {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.chart-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar { width: 25px; }
.heart-eyes-bar { background-color: #DD2E44; }
.drooling-bar { background-color: #88C9F9; }
.thumbs-up-bar { background-color: #FFDB5E; }
.thumbs-down-bar { background-color: #EF9948;}
.throw-up-bar { background-color: #77AF57; }
.skull-crossbones-bar { background-color: #AAB8C2; }

.heart-eyes-selected { color: #DD2E44; }
.drooling-selected { color: #88C9F9; }
.thumbs-up-selected { color: #FFDB5E; }
.thumbs-down-selected { color: #EF9948;}
.throw-up-selected { color: #77AF57; }
.skull-crossbones-selected { color: #AAB8C2; }

.react-selected-circle {
  position: absolute;
}

.react-selected-circle {
  font-size: 51px !important;
  margin-left: -13px;
  margin-bottom: -2px;
}
