.fm-chip {
  display: inline-flex;
  margin: 0.25rem;
  padding: 0;
  height: 1.5rem;
  border-radius: 0.75rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  background-color: var(--olive-dark);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fm-chip-label {
  color: white;
  margin: 0 0.625rem;
  font-size: 1rem;
}

.fm-chip-delete-icon {
  font-size: 1rem !important;
  color: white;
  margin-left: -0.3125rem;
  margin-right: 0.3125rem;
}
