.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  line-height: 0;
  border-radius: 50%;
  background-color: var(--paper) !important;
}

.close:focus {
  outline: none;
}

.modal-chart {
  width: 100%;
  height: 50%;
  padding: 10px;
  background: white;
}
.fm-dialog-content {
  width: 100%;
  background: var(--paper);
  padding: 2rem 1rem !important;
  overflow: hidden;
}

.recipe-details {
  overflow: auto;
  height: 80vh;
}

.recipe-details-col {
  padding: 0 1rem !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.recipe-details-left-col {
  height: 100%;
}
.recipe-details-right-col {
  order: -1;
}

@media screen and (min-width: 768px) {
  .recipe-details {
    overflow: hidden;
  }
  .recipe-details-right-col {
    order: 1;
    height: 100%;
    overflow: auto;
  }
}

.recipe-details-section {
  margin-bottom: 1.5rem;
}

.recipe-details h1 {
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 1.5rem;
}

.recipe-details h2 {
  font-family: var(--font-heading);
  font-weight: normal;
  font-size: 1.25rem;
}

.recipe-details th {
  font-family: var(--font-heading);
  font-weight: normal;
  padding-right: 0.5rem;
}

/* RECIPE IMAGE */

.recipe-details-image {
  flex: 1;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.recipe-details-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--paper);
  border-radius: 50%;
  position: absolute;
  display: block;
}

.dot1 { left: 0.75rem; top: 0.75rem; }
.dot2 { left: 0.75rem; bottom: 0.75rem; }
.dot3 { right: 0.75rem; top: 0.75rem; }
.dot4 { right: 0.75rem; bottom: 0.75rem; }

.recipe-details-chart {
  flex: 1;
}